{% include "header.html" %}
        <div class="jumbotron jumbotronAbout">
            <h1 class="display-4" id="aboutUs">About Us</h1>
        </div>
        <div class="row ml-1 mr-1">
            <div class="card border-success" style="width: 100%;">
                <div class="card-body">
                    <h1 class="card-title text-success">Your image is our focus!</h1>
                </div>
            </div>
        </div>
        <br>
        <h2>The Fantastic Five:</h2>
        <hr>
        <div class="row ml-1 mr-2">
            <div class="card-deck">
                <div class="card border-success">
                  <div class="card-header">James Ye</div>
                  <img src="/static/image/james.png" class="card-img-top" alt="James Ye">
                  <div class="card-body">
                    <h4 class="card-title">Captain</h4>
                    <p class="card-text text-success">“We're tiny.... ”</p>
                  </div>
                </div>
                <div class="card border-success">
                  <div class="card-header">Tanvir Khan</div>
                  <img src="/static/image/tanvir.png" class="card-img-top" alt="Tanvir Khan">
                  <div class="card-body">
                    <h4 class="card-title">First Lieutenant</h4>
                    <p class="card-text text-success">“We're toony....”</p>
                  </div>
                </div>
            </div>    
        </div>
        <br>
        <div class="row ml-1 mr-2">
            <div class="card-deck">
                <div class="card border-success">
                  <div class="card-header">Nicky Pant</div>
                  <img src="/static/image/nicky.png" class="card-img-top" alt="Nicky Pant">
                  <div class="card-body">
                    <h4 class="card-title">Sergeant Major</h4>
                    <p class="card-text text-success">“We're all a little looney.”</p>
                  </div>
                </div>
                <div class="card border-success">
                  <div class="card-header">Paul Pineda</div>
                  <img src="/static/image/paul.png" class="card-img-top" alt="Paul Pineda">
                  <div class="card-body">
                    <h4 class="card-title">First Sergeant</h4>
                    <p class="card-text text-success">“We're comic dispensers.”</p>
                  </div>
                </div>
                <div class="card border-success">
                    <div class="card-header">Fabienne Zumbühl</div>
                    <img src="/static/image/fabienne.png" class="card-img-top" alt="Fabienne Zumbühl">
                    <div class="card-body">
                      <h4 class="card-title">Master Gunnery Sergeant</h4>
                      <p class="card-text text-success">“We crack up all the censors.”</p>
                    </div>
                </div>
            </div>    
        </div>

{% include "footer.html" %}
