{% include "header.html" %}
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/static/image/tokia.jpg" alt="First slide">
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <h2>Our Executive Team</h2>
        <br>
        <br>
        <hr>
        <div class="row ml-1 mr-2">
            <div class="card-deck">
                <div class="card border-info">
                  <div class="card-header">James Ye</div>
                  <img src="/static/image/james.png" class="card-img-top" alt="James Ye">
                  <div class="card-body">
                    <h4 class="card-title">CEO</h4>
                    <p class="card-text">“The machine is smarter than humans”</p>
                  </div>
                </div>
                <div class="card border-info">
                  <div class="card-header">Tanvir Khan</div>
                  <img src="/static/image/tanvir.png" class="card-img-top" alt="Tanvir Khan">
                  <div class="card-body">
                    <h4 class="card-title">CMLO</h4>
                    <p class="card-text">“The machine works best as a complement to humans”</p>
                  </div>
                </div>
                <div class="card border-info">
                  <div class="card-header">Nicky Pant</div>
                  <img src="/static/image/nicky.png" class="card-img-top" alt="Nicky Pant">
                  <div class="card-body">
                    <h4 class="card-title">CTO</h4>
                    <p class="card-text">“Technology has all the answers”</p>
                  </div>
                </div>
                <div class="card border-info">
                  <div class="card-header">Paul Pineda</div>
                  <img src="/static/image/paul.png" class="card-img-top" alt="Paul Pineda">
                  <div class="card-body">
                    <h4 class="card-title">CCO</h4>
                    <p class="card-text">“We can train machines to see like humans”</p>
                  </div>
                </div>
                <div class="card border-info">
                    <div class="card-header">Fabienne Zumbühl</div>
                    <img src="/static/image/fabienne.png" class="card-img-top" alt="Fabienne Zumbühl">
                    <div class="card-body">
                      <h4 class="card-title">CFO</h4>
                      <p class="card-text">“Machines might be smarter, but they lack emotional intelligence”</p>
                    </div>
                </div>
            </div>    
        </div>
        <hr>
        


{% include "footer.html" %}
