
{% include "header.html" %}
<div class="row  ml-1 mr-1">
    <h1> Project Discription </h1>
</div>
<br>
<div class="row  ml-1 mr-1">
    <div>
        <h1> Team - The Fantastic Five </h1>
        <ul>
            <li>Tanvir Khan</li>
            <li>Nicky Pant</li>
            <li>Paul Pineda</li>
            <li>James Ye</li>
            <li>Fabienne Zumbeuhl</li>
        </ul>
    </div>
</div>
<br>
<div class="row  ml-1 mr-1">
    <div>
        <h1> Data </h1>
        <ul>
            <li>link to Tableau Dashboard</li>
            <li>link to github SCUT-FBP5500 repository</li>
        </ul>
    </div>
</div>
<br>
<div class="row  ml-1 mr-1">
    <div>
    <h1> School </h1>
        Trilogy Education Services
        <br>
        UC Berkeley Extensions
        <br>
        Student Success Manager: Alexandrea Bonato
        <br>
        Instructor:  Alexis Baird
        <br>
        Teaching Assistants: Amanda Robinson; Nino Yosinao
    </div>
</div>
{% include "footer.html" %}
