{% include "header.html" %}
        <br>
        <h2>Here is what we found from your uploaded photo:</h2>
        <div>Your uploaded file will be deleted automatically after 24 hours</div>
        <hr>
        <div class="row ml-1 mr-1">
          <div class="col">
            <div class="card border-success">
              <div class="card-header">{{data.filename}}</div>
              <a href="{{data.imageS3url}}">
                <img src="{{data.imageS3url}}" class="card-img-top" id="uploadedPhoto">
              </a>
              <div class="card-body">
                <h4 class="card-title">Beauty Score: {{ data.beautyscore }}</h4>
                <p>Scale: 1 to 5 (top)</p>
                <p>Percent Confidence: {{ data.confidence }}%</p>
              </div>
            </div>
            <div class="mt-3" id="celebrityData"></div>
          </div>
          <div class="col" id="faceData"></div>
          <div class="col">
            <div id="labelsData"></div>
            <div class="mt-3" id="unsafeData"></div>
          </div>
        </div>
        <br>
        <script src="{{url_for('static', filename='js/app.js')}}"></script>
        <script type="text/javascript"> processData( {{ data|tojson }} ) </script>
{% include "footer.html" %}



