{% include "header.html" %}
<div class="row  ml-1 mr-1">
  <H1>Photo Checker</H1>
</div>
<div class="row ml-1 mr-1">
  <h4>Your image is our focus!</h4>
</div>
<br>
<div class="row ml-1 mr-1">
  <form method=post enctype=multipart/form-data>
    <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*">
    <input type=submit value="Machine Rating" disabled id="submitBtn">
  </form>
</div>
<div class="row ml-1 mr-1">(.png .jpeg .jpg files only)</div> 
<br>
<div class="row ml-1 mr-1">
  <div class="col">
    <img id="photo" width="300" />
    <div id="celeInfo"></div>
    <div id="textFound"></div>
  </div>
  <div class="col" id="faceDetails"></div>
  <div class="col" id="photoLabels"></div>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->
<script src="static/js/aws-cognito-sdk.js"></script>
<script src="static/js/amazon-cognito-identity.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.729.0.min.js"></script>
<script src="static/js/app.js"></script>
{% include "footer.html" %}