{% include "header.html" %}
<div class="row">
  <H1>Photo Checker</H1>
</div>
<div class="row">
  <h4>Your image is our focus!</h4>
</div>
<br>
<div class="row">
  <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*">
</div>
<br>
<div class="row">
  <div id="beautyScore"></div>
</div>
<br>
<div class="row">
  <div class="col"><img id="photo" width="300" /></div>
  <div class="col" id="celeInfo"></div>
  <div class="col"><p id="opResult"></p></div>
</div>


<div class="row" id="dataCele"></div>
<br>

<div class="row" id="dataFace"></div>
{% include "footer.html" %}