{% include "header.html" %}
  <div class="row  ml-1 mr-1">
    <H1>Photo Checker</H1>
  </div>
  <div class="row ml-1 mr-1">
    <h4>Your image is our focus!</h4>
  </div>
  <div class="row ml-1 mr-1">
    <h5>Upload an image file and we will use Machine Learning to identify the cotents!</h5>
  </div>
  <br>

  <div class="row ml-1 mr-1">
    

    <form method=post enctype=multipart/form-data>
      <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*">
      <input type=submit value="Upload" disabled id="submitBtn">
    </form>
  </div>
  <div class="row">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes" id="uploadFlashes">
          {% for message in messages %}
            <li>*****{{ message }}*****</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
  </div>

  <div class="row ml-1 mr-1 mt-4">
    <ul>
      <li>Your uploaded file will be deleted automatically after 24 hours</li>
      <li>jpeg jpg and png image files only</li>
      <li>Max file size 16MB</li>
    </ul>
  </div> 
  <br>
  <script src="{{url_for('static', filename='js/photochecker.js')}}"></script>
{% include "footer.html" %}