{% include "header.html" %}
        <br>
        <h2>Attractiveness rated by our Machine Learning Model</h2>
        <hr>
        <div class="row ml-1 mr-2">
            <div class="card border-success">
              <div class="card-header">{{data.filename}}</div>
              <img src="/static/uploads/{{data.filename}}" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">Beauty Score: {{ data.beautyscore }}</h4>
                <p>Percent Confidence: {{ data.confidence }}%</p>
              </div>
            </div>
        </div>
        <br>
{% include "footer.html" %}
